h1,h2{
  font-family: 'Libre Baskerville', serif;
}

p{
  font-family: 'Poppins', sans-serif;
font-family: 'Source Sans 3', sans-serif;
}


.top-bar{
  background-color: #e1c8a7;
  padding: 0.5rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  
  display: flex;
  justify-content: center;
  align-items: center;
}



  
.tree-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  border: none;
  
}

/* Optional: Set a max-width for the centered image */
.tree {
  max-width: 100%;
  height: auto;
}
.wheel {
  height: 1.9rem;
  width: auto;
  -webkit-animation: spin 5s linear infinite; /* Safari browser */
  animation: spin 5s linear infinite;}

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  #div {text-align:center; width:100%; height:350px; padding-top:20px;}

  .signbutton{
    background-color: black;
    color: white;
    border-radius: 15px;
    padding: 0.5rem;
    transition: background-color 0.3s ease-in-out ;
    border-color: gray;
    border: none;

    
  }

  .signbutton:hover{
    background-color: #ffce8d;
   
    border: none;
    color: black;
  }


.bi{
  
  border-radius: 30px;
  padding: 0.5rem;
  
}

.team-button{
  background-color: black;
  color: white;
  padding: 0.75rem;
  border-radius: 10px;
  border: none;
  transition:background-color  0.3s ease-in-out,color  0.3s ease-in-out ;
}


.team-button:hover{
  background-color: #ffce8d;
  color: black;

}


footer{
  display: flex;
  align-items: center;
  
  background-color: black;
  padding: 2rem;
  color: white;
}

.footer-img{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-left: 8rem;
 
}

footer p{
  padding-left: 10px;
}

.icons{
  margin-left: auto;
  margin-right: 8rem;
}